<!DOCTYPE html>
<html>
<head>
    <title>AI Study Assistant</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Welcome to AI Study Assistant</h1>

    <p>You are now logged in.</p>

    <a href="/upload"><button>Upload Notes</button></a>

    <a href="/notes">
    <button>View My Notes</button>
    </a>

    <a href="/ask">
    <button>Ask Notes</button>
    </a>

    <a href="/logout"><button>Logout</button></a>

</body>
</html>